<!DOCTYPE html>
<head>
	<title>Firebase project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      <a href="/join" class="navbar-brand">Firebase project</a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <h3>Welcome <%= name %></h3>
      <h4>A confirmation mail has been send to your registered email id</h4>  
    <div>
  </div>
</body>